<div class="container">
    <h1>Search results for : {{searchTerm}}</h1>
    <hr>
    {{#if noResults}}
        Search returns no results.
    {{else}}
        <table>
            <th>
            <thead>
                <th>NAME</th>
                <th>CATEGORY</th>
                <th>RATING</th>
                <th>INSTALLS</th>
            </thead>
            </th>
            {{#each recs}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.category}}</td>
                <td>{{this.rating}}</td>
                <td>{{this.installs}}</td>
            </tr>
            {{/each}}
        </table>

    <!-- navi buttons -->
        <div class="nav d-flex flex-space-around">
            
            {{#if havePrev}}
            <form action="/search" method="get">
                <input type="hidden" name="q" value={{searchTerm}}>
                <input type="hidden" name="offset" value={{prevOffset}}>
                <button type="submit" name="page" id="previous">Previous</button>   
            </form>
            {{/if}}

            {{#if haveNext}}
            <form action="/search" method="get">
                <input type="hidden" name="q" value={{searchTerm}}>
                <input type="hidden" name="offset" value={{nextOffset}}>
                <button type="submit" name="page" id="next">Next</button>
                
            </form>
            {{/if}}
                    
                    
            </form>
        </div>
    {{/if}}
</div>